.chart-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
}

.full-width {
  grid-column: span 2;
}

.graph-card {
  background-color: var(--color-gray);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.graph-title {
  font-size: 2rem; /* Más grande */
  font-family: "Zen Dots", sans-serif;
  color: var(--color-primary); /* Color primario */
  margin-bottom: 20px;
}